.container-fluid {
    align-items: center;
}

.contact-links {
    display: flex;
    margin-top: 12px;
    font-family: "Archivo Narrow", sans-serif;
    text-decoration: none;
}

.contact-links a {
    color: darkblue;
    margin-left: 40px;
    font-family: "Archivo Narrow", sans-serif;
    text-decoration: none;
    transition: 0.3s;
}

.contact-links a:hover {
    -webkit-filter: drop-shadow(5px 5px 5px rgb(66, 66, 66));
    filter: drop-shadow(5px 5px 5px rgb(66, 66, 66));
}